#title{
    color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    border: 5px solid rgb(253, 173, 0);
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
}
.navbar {
    text-align: end; 
    font-size:larger;
    word-spacing: 5px;
    gap:40px;
    color: orange;
}
body{
    background-image: url(portfolio\ img.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
}
.text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    padding: 30px;
    text-align: center;

}
h1{
    color: rgb(255, 136, 0);
    border: 5px solid black;
    border-color: black;
    border-radius: 8px;
    width: fit-content;
    padding: 2px 15px;
    font-size: 50px;
}
.index{
    color: rgb(68, 0, 255);
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    margin: 40px;
}
.photo{
text-align: center;
}


